.user-main-div{
    text-align: center;
}

.user-table{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(240, 225, 208);
    border-bottom: 2px solid rgb(219, 157, 150);
    border-top: 2px solid rgb(219, 157, 150);
    border-left: 2px solid rgb(219, 157, 150);
    border-right: 2px solid rgb(219, 157, 150);
}

.userpage-header{
    text-align: center;
}

.getuserlist-button{
    margin-bottom: 20px;
    margin-right: 10px;
}

.user-table-header-division{
    width: 20%;
    background-color: rgb(214, 196, 157);
    border: 1px solid black;
}

.submit-div{
    margin-top: 15px;
}

.userInput-form{
    margin-left: 25px;
    margin-right: 25px;
}

.form-group{
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.danger-text{
    color: red;
}

.userpage-header{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.submitUser-button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: rgb(241, 226, 207);
}